
<div class="jumbotron">
  <h1 class="display-1 text-white hello-text">Hello!</h1>
  <p class="lead text-white p-5 intro-text">My name is Donn Jerico and I am a Ruby on Rails Developer in the making.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg border-white" <%= link_to "View my Work", 'portfolio', class: "btn" %> > </a>
  </p>
</div>
